{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row banner text-center">
            <div class="col-12">
                <h2 class="text-center p-5" style="font-size:50px;">TODO APPLICATION</h2>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 mb-4">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title text-center animate-charcter">Add Task Here</h5>
                        <div class="container px-3">
                            {% for msg in messages %}
                                <div class="alert alert-info" role="alert">
                                    {{ msg }}
                                </div>
                            {% endfor %}
                            <form method="post" action="">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label class="form-label"><b>Task Name</b></label>
                                    <input type="text" name="task_name" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label"><b>Priority</b></label>
                                    <input type="text" name="priority" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label"><b>Date</b></label>
                                    <input type="date" name="task_date" class="form-control">
                                </div>
                                <button type="submit" name="submit" class="btn btn-success w-100">Add Task</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <h5 class="text-center mb-3">Tasks To Be Completed</h5>
                {% for i in task %}
                    <div class="card shadow p-3 mb-4 bg-white rounded">
                        <div class="card-body">
                            <div class="container px-3">
                                <p><b>Task Name:</b> {{ i.task_name }}</p>
                                <p><b>Priority:</b> {{ i.priority }}</p>
                                <p><b>Task Date:</b> {{ i.task_date }}</p>
                                <div class="d-flex justify-content-around">
                                    <a href="{% url 'app_1:delete' i.id %}" class="btn btn-danger">Delete</a>
                                    <a href="{% url 'app_1:update' i.id %}" class="btn btn-success">Update</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
